html{
	scroll-behavior: smooth;
}

::-webkit-scrollbar{
	width:6px;
}

::-webkit-scrollbar-track{
	background:gray;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb{
	background:#68bee0;
	border-radius:10px;
	transition: background 0.3s ease;
}
::-webkit-scrollbar-thumb:hover{
	background:#11c5c5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in the element size */
}
*::after{
	box-sizing:border-box;
}

body	{background-color: white; font-family:'Open Sans Condensed',Arial, Helvetica, sans-serif; }

.part_2{
	position:relative;
	display:block;	
	margin:0;
	padding:0;
	width:100%;
	height:59.8px;
	box-sizing: border-box;
	font-size:60px;
	overflow:hidden;
	}

.part_2 ul	{
	color:blue;
	list-style-type:none;
	margin:0px;
	min-height:50px;
	background-color:white;
	display:flex;
	align-items:flex-end;
	width:100%;
	justify-content:flex-start;
	overflow:hidden;
	flex-flow: row nowrap;
	padding:0 43px;
}


.part_2 a{
	display:block;
	color:blue;
	text-align:center;
	text-decoration:none;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	padding:16px;
}

.part_2 .spacer{
	flex-grow:1;
}

.logo a:link{
	color:blue;
	padding-top:4px ;
	padding-bottom: 2px;
	padding-left: 1px;
	padding-right: 1px;
	border:none;
	text-decoration: none;
	display:flex;
	align-items:flex-end;
}

.logo a:focus{
	box-shadow: 0px 0px 0.8px blue;
	border-top:none;
}

.part_2 .logo{	
	padding-right:50px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 9px;		
}
.part_2 .logo img{
	height:43px;
	width:108px;
	vertical-align:top;
}

.menu a{
	padding-top:10px;
	padding-right:20px;
	padding-left: 20px;
	padding-bottom: 4px;
	text-decoration:none;
	color:#00338d !important ;
	font-size:0.4em ;
	margin-bottom:2px;
	font-family:'Open Sans Condensed',Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	vertical-align: baseline;
	border: 1px solid black; 
	align-items: flex-end; 
	 /*scale(1);*/
	font-weight:600px;
	line-height:1.3;
}

.menu a:hover{
	background-color:transparent;
}

.part_2 a:hover{
	background-color:none;
	}

.part_2 img{
	width:50px;
	height:auto;
	vertical-align:middle;
}

.part_2 a img.icon{
	width:50%;
	height:auto;
	vertical-align:top;
}

.part_2 a img.globe {
    width: 35px; /* Larger size for the globe icon */
    height: auto;
}

.travelsCover{
	position:relative;
	width:100%;
	height:auto;
	display:inline-block;
}

	
.travelsCover img {
	margin:0;
	padding:0;
	display: block; /* Prevent inline spacing below the image */
	width: 100%; /* Ensure the image fits the width of the page */
	height: 500px;
	box-sizing: border-box;
	/* Maintain the image's original aspect ratio */
	overflow:hidden;
	}

.travelsCover::before{
	content:'';
	position: absolute;
	top:0;
	left:0;
	width:65%;
	height:100%;
	background:linear-gradient(to left,rgba(0, 51, 141, 0),rgba(0, 51, 141, 0.9));
	z-index:2;
}

.travelsCover-overlay{
	top:220px;
	left:75px;
	position:absolute;
	color:white;
	transform:translateY(-50%);
	text-align:left;
	z-index:3;
	width:688px;
	height:142px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0;
	padding-bottom: 0;
	border:none;
	box-sizing:border-box;
	overflow:visible;
	display:flex;
	flex-direction: column;
	}
	
.line-clamp:after{
	content:'';
	text-align:right;
	bottom:0;
	left: 0;
	width: 100%;
	display: block;
	position: absolute;
	
}

.travelsCover-overlay:focus{
	border:1px solid olive;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0;
	padding-bottom: 0;
	box-sizing:border-box;
	overflow:visible;
}

.travelsCover-overlay h6{
	font-family:'Open Sans Condensed',Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
}



@media only screen and (min-width: 1100px) {
	a.logo img {
		height: 48px; /* Sets a fixed height for the logo */
		padding: 5px 0 0 0; /* Removes bottom padding and applies only top padding */
		min-width: 108px; /* Ensures the logo maintains a minimum width */
	}
}

.destinations{
	display: flex;
	justify-content: space-between;
	gap: 20px;
	padding:40px 0;
}

.destination{
	flex: 1;
 	margin: 10px;
 	border-radius: 12px;
  	color: white;
  	padding: 40px;
  	min-height: 300px;
  	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  	display: flex;
  	flex-direction: column;
  	justify-content: flex-end;
  	transition: transform 0.3s ease;
	}

footer{
	background-color:#777;
	padding:10px;
	color:white;
}